<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-config.dtd">

<configuration>
	<environments default="oracleXe">
		<environment id="oracleXe">
			<transactionManager type="JDBC">
			</transactionManager>
			<dataSource type="POOLED">
			<!-- DB에 접속할때 필요한 데이터를 명시 -->
				<property name="username" value="hr"/>
				<property name="password" value="hr"/>
				<property name="driver" value="oracle.jdbc.driver.OracleDriver"/>
				<property name="url" value="jdbc:oracle:thin:@localhost:1521:XE"/>
			</dataSource>
		</environment>
	</environments>
	<mappers>
		<mapper resource="mapper/noticeMapper.xml"/>
	</mappers>
</configuration>